* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  width: 100vw;
  background-color: #007065;
  color: #f3e6ce;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto auto;
  text-align: center;
  margin-top: 0;
  padding-top: 3%;
}

.social-icons li {
  display: inline-block;
  padding: 3% 5%;
  margin: 0;
}

.social-icons ul {
  text-align: center;
  bottom: 0;
  left: 0;
}

.socialbutton {
  height: 20px;
  width: 20px;
}

.footer-section h5 {
  font-weight: normal;
  font-size: 80%;
}

.footer-section a {
  text-decoration: none;
  color: #f3e6ce;
  font-size: 25%;
}

.footer-section ul {
  font-size: 60%;
  list-style: none;
}

#footer-s1 {
  grid-row: 2;
  grid-column: 1 / span 2;
}

#footer-s2 {
  grid-row: 1;
  grid-column: 1;
  justify-self: center;
}

#footer-s3 {
  grid-row: 1;
  grid-column: 2;
  justify-self: center;
}

#footer-s4 {
  font-size: 10%;
  grid-row: 3;
  grid-column: 1 / span 2;
}

.section-title {
  margin: 0;
}

.section-list {
  padding-left: 0;
}

@media (min-width: 768px) {
  .socialbutton {
    height: 30px;
    width: 30px;
  }

  .social-icons li {
    margin: 0;
    padding: 2% 4%;
  }

  .footer-section h5 {
    font-size: 120%;
    padding-bottom: 0;
  }

  .footer-section ul {
    font-size: 150%;
  }

  .footer-section a {
    font-size: 50%;
  }

  .footer-section li {
    height: 30px;
  }
}

@media (min-width: 1020px) {
  .social-icons li {
    padding: 1% 7% 0;
    margin: 0;
  }

  .footer-section h5 {
    font-size: 120%;
    padding-bottom: 0;
  }

  .footer-section a {
    font-size: 60%;
  }
}
