* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  justify-content: center;
  box-shadow: 0 4px 8px #00000061;
}

nav {
  z-index: 2;
  background-color: #557669;
  position: sticky;
  top: 0;
  text-align: center;
}

nav h1 {
  color: wheat;
  font-size: 200%;
  cursor: pointer;
  margin: 0;
  padding-top: 5px;
}

nav h1 .icon {
  color: wheat;
  font-size: 25px;
  margin-left: 10px;
  cursor: pointer;
}

nav h1 a {
  color: wheat;
  text-decoration: none;
  font-weight: normal;
  display: inline;
  list-style: none;
}

#links {
  display: none;
  font-size: 125%;
  margin: 0, 20%;
  border-top: solid #3f2218 2px;
  border-bottom: solid #3f2218 2px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  color: wheat;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  padding: 0 5%;
}

.show {
  display: block !important;
}

nav ul li a:hover {
  color: #cd4439;
}

@media (min-width: 768px) {
  nav h1 {
    font-size: 300%;
  }

  nav ul li {
    font-size: 125%;
    margin: 0, 15%;
  }

  nav h1 .icon {
    font-size: 30px;
  }
}
@media (min-width: 1020px) {
  nav h1 {
    font-size: 300%;
    line-height: 1.1;
    padding-top: 15px;
  }

  nav ul li {
    font-size: 120%;
    display: inline;
  }

  .icon {
    display: none;
  }

  #links {
    display: inline;
    border-top: none;
    border-bottom: none;
  }
}
