.slider-container {
  max-width: 200px;
  margin: 0 auto 10px;
}

.slick-slide {
  text-align: center;
  position: relative;
}

.slick-slide img {
  max-width: 100%;
  height: auto;
}

.slick-slide:not(.slick-center)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

.slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.slick-dots li button:before {
  color: #bbb;
}

.slick-dots li.slick-active button:before {
  color: #333;
}

@media (min-width: 768px) {
  /* Slider container */
  .slider-container {
    max-width: 500px;
    margin: 0 auto;
  }

  .slick-slide:not(.slick-center)::before {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .slick-dots {
    margin-top: 30px;
  }
}

@media (min-width: 1020px) {
  .slider-container {
    max-width: 700px;
  }

  .slick-slide:not(.slick-center)::before {
    background-color: rgba(0, 0, 0, 0.7);
  }

  .slick-dots {
    margin-top: 40px;
  }
}
