/* NavBar.module.css */

/* Postion sticky to keep header at top of page always
zindex keeps nav bar on top of .hero background image */
/* display: inline;
  Display none takes away links unless clicked in JS
  /* Border top and bottom to make extened links pop */
.links {
  display: none;
  font-size: 125%;
  margin: 0, 20%;
  border-top: solid #3f2218 2px;
  border-bottom: solid #3f2218 2px;
}

/* NavBar.module.css */

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #557669;
  padding: 10px;
}

.navTitle {
  color: wheat;
  font-size: 24px;
  text-decoration: none;
}

.icon {
  color: wheat;
  font-size: 24px;
  cursor: pointer;
}

.navLinks {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navLink {
  color: wheat;
  text-decoration: none;
  margin: 0 10px;
}

@media (max-width: 600px) {
  .navLinks {
    flex-direction: column;
    align-items: flex-start;
  }

  .navLink {
    margin: 10px 0;
  }

  .show {
    display: block;
  }
}

.show {
  display: none;
}
